/* .timer-question-number-container {
  display: flex;
  flex-direction: column;
} */
.space-between-items-and-sumbit-btn {
  display: flex;
  flex-direction: column;
}
.background-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 416px;
  height: 777px;
  top: 181px;
  left: 992px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  box-shadow: 0px 0px 15px 0px #dae4fa80;
}
@media screen and (max-width: 576px) {
  .background-card {
    width: 312px;
    height: 394px;
    top: 130px;
    left: 24px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background: #ffffff;
    box-shadow: 0px 0px 15px 0px #dae4fa80;
  }
}
.question-count-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .question-count-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.content1 {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.content2 {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.question-number {
  width: 34px;
  height: 34px;
  padding-top: 5px;
  gap: 0px;
  opacity: 0px;
  background: #7c599f;
  text-align: center;
  border-radius: 50px;
  margin-right: 8px;
}
.color-number {
  border: 1px solid #cbd5e1;
  background-color: white;
}
.question-content {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  width: 150px;
  height: 20px;
  top: 31px;
  left: 58px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #496387;
}
.line-between-question-numbers {
  width: 95%;

  height: 0px;
  top: 90px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #e2e8f0;
}

.question-numbers-submit-button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.btn-submit {
  width: 384px;
  height: 48px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #164687;
  font-family: HK Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  background-color: white;
}
@media screen and (max-width: 576px) {
  .btn-submit {
    width: 288px;
    height: 48px;
    top: 314px;
    left: 12px;
    gap: 0px;
    opacity: 0px;
  }
}
