/* .timer-container {
  width: 93%;
  height: 70px;
  top: 120px;
  left: 992px;
  border-radius: 2px;
  background: #475987;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.heading {
  display: flex;
  width: 150px;
  height: 29px;
  top: 132px;
  left: 1016px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: #f8fafc;
}
.time {
  width: 95px;
  height: 29px;
  top: 132px;
  left: 1289px;

  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #f8fafc;
}
 */
.time-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.time-up-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 818px;
  height: 724px;
  top: 173px;
  left: 311px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #7b879429;
}
.time-up-img {
  width: 604px;
  height: 386px;
  top: 203px;
  left: 418px;
  padding: 9.53px 19.02px 4.77px 14.27px;
  gap: 0px;
  opacity: 0px;
}
.timeUp-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 5px;
  width: px;
  height: 44px;
  top: 621px;
  left: 636px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  text-align: center;
  color: #334155;
}
.timeUp-para {
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 5px;
  width: 381px;
  height: 24px;
  top: 681px;
  left: 530px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #64748b;
}
.timeUp-para-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 5px;
  width: 180px;
  height: 32px;
  top: 737px;
  left: 635px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #164687;
}
.Reattempt-btn {
  margin-top: 0px;
  width: Hug (120px) px;
  height: Fixed (40px) px;
  top: 809px;
  left: 660px;
  padding: 8px 32px 8px 32px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background: #164687;
  border: 0px;
  font-family: HK Grotesk;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}
