.header-content-home {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-size: cover;
  height: 100vh;
}
.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
}
@media screen and (min-width: 576px) {
  .sub-container {
    display: flex;
    flex-direction: row;
  }
}
.home-icon {
  width: 368px;
  height: 227px;
  top: 343px;
  left: 776px;
  gap: 0px;
  opacity: 0px;
  order: 1;
}
.card-container {
  width: 80%;
  height: auto;
  top: 273px;
  left: 96px;
  gap: 0px;
  opacity: 0px;
  background: #ffffff;
  padding: 20px;
  order: 0;
}

@media screen and (min-width: 576px) {
  .card-container {
    box-shadow: 0px 4px 16px 0px #7b879429;
    width: 500px;
  }
}
@media screen and (max-width: 576px) {
  .card-container {
    order: 1;
  }
  .home-icon {
    order: 0;
    margin-bottom: 10px;
  }
}
.head {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 700;
  line-height: 37.5px;
  text-align: center;
  color: #164687;
}
.list {
  list-style-type: number;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.list-item-part {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;

  color: #496387;
}
.list-item {
  height: 28px;
  top: 391px;
  left: 172px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: start;
  color: #496387;
}
.start-assess-btn {
  width: Hug (171px);
  height: Hug (44px);
  top: 747px;
  left: 144px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 4px;
  gap: 8px;
  background: #164687;
  color: white;
  padding: 10px;
  border: 0px;
  margin-left: 22px;
}
